<div class="container">
  <p id="notice"><%= notice %></p>

  <h1 class="text-center">All Articles</h1>

  <%= render 'table' %>

  <br>

  <% if logged_in?(:editor) %>
    <%= link_to 'New Article', new_article_path %>
  <% end %>
</div>
